{% extends 'layout/page.html.twig' %}
{% block content_main %}

    {{ style({ include: oViewConf.getModuleUrl('oxsdemo', 'css/tour.min.css') }) }}
    {{ script({ include: oViewConf.getModuleUrl('oxsdemo', 'js/tour.js') }) }}

    {{ style({ include: oViewConf.getModuleUrl('oxsdemo', 'css/styles.css') }) }}

    <div id="demoshop-banner">
        <script>
            if (!localStorage.getItem('cookieAccepted') || localStorage.getItem('cookieAccepted') === 'false') {
                document.getElementById('demoshop-banner').style.display = 'block';
                document.documentElement.classList.add('no-scroll');
            }
        </script>
        <div id="banner-header">
            <img src="{{ oViewConf.getModuleUrl('oxsdemo', 'pictures/OXID_Logo.png') }}" alt="OXID Logo">
            <button id="close-btn">X</button>
        </div>
        <div id="banner-content">
            <hr>
            <div id="banner-main">
                {% if b2bActive %}
                    <script>localStorage.setItem('b2b', 'true');</script>
                {% endif %}
                <h2 id="header-message">{{ translate({ ident: 'OXDEMO_HEADER_MESSAGE' }) }}</h2>
                <p style="text-align:center;">{{ translate({ ident: 'OXDEMO_IMPORTANT_MESSAGE' }) }}</p>
                <br>
                <p style="text-align:center;">{{ translate({ ident: 'OXDEMO_LOGIN_MESSAGE' }) }}</p>
                <div id="banner-info">
                    <div id="login-data">
                        <h3>{{ translate({ ident: 'OXDEMO_LOGINDATA' }) }}</h3>
                        <table>
                            <tr>
                                <th>{{ translate({ ident: 'OXDEMO_LOGIN' }) }}</th>
                                <th>{{ translate({ ident: 'OXDEMO_PASS' }) }}</th>
                            </tr>
                            <tr>
                                <td>{{ translate({ ident: 'EMAIL' }) }}</td>
                                <td>{{ translate({ ident: 'PASS' }) }}</td>
                            </tr>
                        </table>
                    </div>
                    <div id="additional-info">
                        <h3>{{ translate({ ident: 'OXDEMO_INFO_HEADER' }) }}</h3>
                        <p>{{ translate({ ident: 'OXDEMO_INFO' }) }}</p>
                        <br>
                        <h3>{{ translate({ ident: 'OXDEMO_DOCU_HEADER' }) }}</h3>
                        <p>{{ translate({ ident: 'OXDEMO_DOCU' }) }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <hr>
            <p>{{ translate({ ident: 'OXDEMO_CONFIRMATION' }) }}</p>
            <button id="accept-btn">{{ translate({ ident: 'OXDEMO_CONFIRMATION_BUTTON' }) }}</button>
        </div>
    </div>
    <button id="demoshop-toggle-btn">{{ translate({ ident: 'OXDEMO_BUTTON' }) }}<span class="arrow-up"></span></button>
    <script>
        if (!localStorage.getItem('cookieAccepted') || localStorage.getItem('cookieAccepted') === 'false') {
            document.getElementById('demoshop-toggle-btn').style.display = 'none';
        }
    </script>

    <script type="module" src="{{ oViewConf.getModuleUrl("oxsdemo", "js/scripts.js")|raw }}"></script>

    {{ parent() }}

{% endblock %}
